body{
    font-family: "Comic Sans MS", sans-serif;
    font-size: 12px;
    background-image:url("https://github.com/tcknapp/TriviaGame/blob/master/assets/images/old-cartoons-wallpaper-4.jpg?raw=true");
    width: 100%;
}


.container {
    max-width: 500px;
    background-color: white;
    opacity: .9;
    margin: auto;
    text-align: center;
    flex: auto;
    padding-bottom: 8px;
 
}

.header {
    font-size: 18px;
    padding-top: 1px;
}

h1 {
    color: #ff59ff;;
}

.timer {
    font-size: 14px;
    
}

.content {
    
}

submit {

}

#results {
    font-size: 16px;
    font-weight: bold;
}


.question{
    padding: 4px;
    margin: px;
}


.answers {
    margin-bottom: 20px;

}

label {
    margin-left: 8px;
}

#submit {
	border : solid 5px #ff59ff;
	border-radius : 12px 12px 3px 3px ;
	border-radius : 12px 12px 3px 3px ;
	font-size : 20px;
	color : #f705ff;
	padding : 4px 10px;
	background-color : #ffffff;

}

#start {
    border : solid 5px #ff59ff;
	border-radius : 12px 12px 3px 3px ;
	border-radius : 12px 12px 3px 3px ;
	font-size : 20px;
	color : #f705ff;
	padding : 4px 10px;
	background-color : #ffffff;
}
